@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #E5E7EB;
}

.main {
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

#logo-text {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.hero-cont {
  background-color: #1F2937;
  display: flex;
  padding: 75px 200px;
  gap: 50px;
}

button {
  background-color: #3882F6;
  padding: 5px 20px;
  font-weight: bold;
  color: #E5E7EB;
  border-radius: 5px;
}
.no-border {
  border: none;
  margin-top: 10px;
}

.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.hero-cont img {
  width: 450px;
  height: 210px;
}

.rand-info {
  background-color: #F9FAF8;
  color: #1F2937;
  justify-content: center;
  padding: 50px 200px;
}

.info-cont {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.info-title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 50px;
}

.sub-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;

}
.sub-info img {
  width: 100px;
  height: 100px;
}

.sub-info p {
  text-align: center;
}

.quote-cont {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 100px 200px;
  color: #1F2937;
}

.quote-cont .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 80px;
}

.quote-cont .text-em {
  font-size: 36px;
  font-weight: 50;
}

.quote-cont .text-author {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}